 *{
    background-color: rgb(36, 175, 168);
    
} 

img{
    border-radius: 50%;
}
th,td{
    padding: 10px;
    color: white;
}
form{
    width: max-content;
    
}
fieldset{
    border-radius: 10px;
}
